process.container = "/home/fb343/christakis_loan/glimpse_v1.1.1.sif"
singularity.enabled = true

params {
	study_vcf = "/gpfs/ycga/scratch60/christakis/fb343/gatk/out/filtered_snps/*vcf"
	reference_vcfs = "1000G_GRCh37_phase3/Reference/ALL.chr*.1000G.phase3.GRCh37.reference.bcf"
	reference_sites_vcfs = "/gpfs/ycga/scratch60/christakis/fb343/gatk/imputed/reference_sites_vcfs/20201028_CCDG_14151_B01_GRM_WGS_2020-08-05_chr*.recalibrated_variants.vcf.gz"
	window_size = 2000000
	buffer_size = 200000
	glimpse_maps = "/home/fb343/git/GLIMPSE/maps/genetic_maps.b38/"
	concatenate = true
	out = "/gpfs/ycga/scratch60/christakis/fb343/gatk/imputed"
}

process {
	executor = "slurm"
	//executor = "local"
	cpus = 12
	time = "12h"
	memory = "4GB"
}

executor {
	$slurm {
		queueSize = 1000
		jobName = { "imputation" }
	}
	$local {
		cpus = 1
	}
}
