params {
	reads = "/gpfs/gibbs/pi/christakis_loan_fb343/saliva_reads/*/Unaligned/*_R{1,2}_*.fastq.gz"
	reference_vcfs = "/gpfs/ycga/project/christakis/fb343/databases/20201028_3202_phased/*phased.vcf.gz"
	reference_sites_vcfs = "/gpfs/ycga/project/christakis/fb343/databases/20201028_3202_phased/*sites.vcf.gz"
	study_bams = "/gpfs/gibbs/pi/christakis_loan_fb343/saliva_reads/gatk/aligned_reads/*bam"
	out = "/gpfs/gibbs/pi/christakis_loan_fb343/saliva_reads/gatk"
	referenceDir = "/path/to/referenceGenome/folder"
	referenceGenome = "/gpfs/ycga/project/christakis/fb343/databases/variant_calling_pipeline_hg38/genome.fasta"
	gatkContainer = "/path/to/gatk.sif"

	window_size = 2000000
	buffer_size = 200000
	// chunk_exec = "/vast/palmer/home.mccleary/fb343/git/GLIMPSE/static/GLIMPSE2_chunk"
	chunk_exec = "GLIMPSE2_chunk"
	phase_exec = "GLIMPSE2_phase"
	ligate_exec = "GLIMPSE2_ligate"
	glimpse_maps = "/home/fb343/git/GLIMPSE/maps/genetic_maps.b38/"
}
workDir = '/vast/palmer/scratch/christakis/fb343/nextflow_work_dir'
singularity {
	enabled = true
	autoMounts = true
}

process {
	executor = "slurm"
	withName: 'chunk|split_reference|impute_chunks|ligate_chunks' {
		container = "/gpfs/gibbs/pi/christakis_loan_fb343/glimpse_v2.0.0-27-g0919952_20221207.sif"
		cpus = 4
	}
	// cluster allocation account name
	//clusterOptions = "--account="
	//executor = "local"
	cpus = 1
	time = "1d"
	memory = "30GB"
}

executor {
	$slurm {
		queueSize = 10
		queue = "scavenge"
		jobName = { "imputation" }
	}
	$local {
		cpus = 6
	}
}
